header {
		background-color: #59d149;
		text-align: center;
}

nav {
		font-weight: bold;
		text-align: center;
}

nav a:link {
		text-decoration: none;
}

footer {
		font-size: 0.6em;
		text-align: center;
		font-style: italic;
}

footer ul {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color:#59d149 ;
}

footer ul li {
		padding: 0.6em;
}

nav ul {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
		margin: 0px;
		padding: 0px;
		list-style-type: none;
}

nav > ul > li > a {
		padding: 20%;
		text-decoration: none;
}

nav a:hover {
		background-color: #49d1b1;
}

.active {
		background-color: #9dd149;
}

#map{
    max-width: 400px;
    overflow: hidden;
}
img{
    width: 100%;
    object-fit: contain;
}
