 body {
  background-color: white;
}
.L{
	
  text-align: center;
  font-size: 25px;
}
.W{
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

h1{
	text-align: center;
	  background-color: green
}
